@model Square1Blogger.Models.Blogs.Blog
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" id="Title" asp-for="Title" required />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" id="Description" asp-for="Description" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>