@model IEnumerable<Square1Blogger.Models.Blogs.Blog>
@{
    ViewData["Title"] = "All Blogs";
}

<div class="container-fluid blogsection">
    <div class="row content">
        @if (Model.Count() == 0)
        {
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <h5>No Blogs Posted yet</h5>
            </div>
        }
        else
        {
            <div class="col-sm-9">
                <h4><small>RECENT POSTS</small></h4>
                @foreach (var item in Model)
                {
                    <hr>
                    <h2>@item.Title</h2>
                    <h5>Post by @item.UserName</h5>
                    <p>@item.PublicationDate</p>
                    <p>@item.Description</p>
                    <br><br>
                }
            </div>
        }
    </div>
</div>

<div class="toast popupToast" id="myToast" data-autohide="false">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-grav"></i> New Post Made</strong>
    </div>
    <div class="toast-body">
        There was a new post made to the blog, this page will refresh in 5 seconds
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/blog.js"></script>
